* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: JetBrainsMono NF;
  font-size: 18px;
}
@import "colors.scss";
.bar {
    //
}
.modules {
  background-color: rgba($bg,0.96);
  border: 2px solid rgba($cyan, 0.67);
  border-top: 0px;
  border-radius: 0px 0px 8px 8px;
  padding: 0px 10px 0px 10px;
}
.clock {
  padding:  0px 0px 0px 5px;
}
.calendar_widget {
  font-size: 14px;
  background-color: rgba($bg, 0.4);
  color: $green;
  border: 2px solid rgba($cyan, 0.67);
  border-radius: 0px 0px 20px 20px;
  padding: 10px;
}
.txt {
  color: $green;
}
.ssid {
  color: $blue;
  font-size: 14px;
}
.glyph {
  padding:  0px 10px 0px 5px;
}
.inactive {
  color: $bg5;
}
.sep {
  color: $bg_blue;
  padding: 0px;
  margin: 0px;
}
button:hover.hover {
  color: $red;
}
scale trough {
  all: unset;
  background-color: $bg_blue;
  border-radius: 50px;
  min-height: 10px;
  min-width: 100px;
  margin-right: 10px;
}
scale trough highlight {
  all: unset;
  background-color: $red;
  border-radius: 10px;
}
calendar:selected {
  color: $bg;
  background-color: $red;
}
calendar.header {
  color: $blue;
  font-weight: bold;
}
calendar.button {
  color: $yellow;
}
calendar.highlight {
  color: $blue;
  font-weight: bold;
}
calendar:indeterminate {
  color: $black;
}
tooltip {
  background-color: rgba($bg,0.96);
  border: 2px solid rgba($cyan, 0.67);
  border-radius: 8px;
}

