* {
    background-clip: padding-box;
    border-radius: 5px;
    font-family: JetBrainsMono Nerd Font;
    font-size: 18px;
}
.background {
    opacity: 0.95;
}
#app-list {
    background-color: #1d2021;
    padding: 0px 5px 0px 6px;
}

.app-row {
    transition: unset;
    padding: 5px 0 5px 10px;
    color: #a7c080;
    background-color: #1d2021;
}
.app-row:selected {
    background-color: #53605c;
}
.app-row:hover {
    background-color: #503946;
}
.app-label {
    margin-left: 10px;
}

#root-box {
    border: 2px solid rgba(131,192,146,0.67);
    background-color: #1d2021;
}

#search {
    background-color: #2b3339;
    border: 1px solid #394f5a;
    color: #a7c080;
    padding: 2px 8px;
    margin: 5px;
}
